<!DOCTYPE html>
<html>
<head>
  <title>mobileFTW!</title>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h2>Mobile Web Rules The World!</h2>
  <h2>Rich Vogt</h2>
</body>
</html>